<h3><%= @author.name %></h3>
<p>Currently Alive: <%= @author.currently_alive %></p>
<p>Age: <%= @author.age %></p>
<p>ID: <%= @author.id %></p>
<p>Total Count of Books by this Author: <%= @author.count_books %></p>
<%= link_to "See All Books by #{@author.name}", "/authors/#{@author.id}/books" %></br>
<%= link_to "Update #{@author.name}", "/authors/#{@author.id}/edit" %></br>
<%= button_to "Delete #{@author.name}", "/authors/#{@author.id}", method: :delete %>