<h1><%= @author.name %></h1>
<% @books.each do |book| %>
  <h3>Title: <%= book.title %></h3>
  <p>Price: $<%= book.price %></p>
  <p>Rating: <%= book.rating %></p>
  <p>Purchasable Online: <%= book.purchasable_online %></p>
  <p>Book ID: <%= book.id %></p>
  <p>Author ID: <%= book.author_id %></p></br>
<% end %>

<%= button_to "Create New Book", "/authors/#{@author.id}/books/new", method: :get %>
<%= link_to "Sort Books A to Z", sort: "AZ" %>